<h1>Add New Category</h1><br>

<form action="/categories/addCategoryF" method="post">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control">
</div>

<div class="form-group">
    <label for="description">Description</label>
     <textarea name="description" id="description" cols="30" rows="10"></textarea>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" name="submit" value="Add new">
    <input type="reset" value="Clear">
</div>
</form>
<br>
<a href="/categories/index" class="btn-btn-secondary">Back to index</a>